select {
    background-color: orange;
    font-family: Georgia, 'Times New Roman', Times;
    font-size: large;
}

.tooltip {
    position: absolute;
  pointer-events: none;         /* so it doesn’t block the mouse */
  background: white;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  visibility: hidden;
  white-space: nowrap;          
  }